.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;

    @include respond(phone){
        color: #f6f6f6;
        position: absolute;
        top: 5%;
        left: 10%;
    }
    // position: absolute;
    // top: 25%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    // z-index: 100;
}
.section-promos{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 9rem;
    color: var(--color-white);
}
.section-nosotros{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 9rem 0rem 0rem 0rem;
    color: var(--color-white);
}
.section-menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12rem 2rem;
    color: var(--color-white);

    @include respond(phone){
        padding: 12rem 0rem;
    }
}
.section-intersection--1{

    @include respond(phone){
    background-attachment: scroll;
    }
    padding: 25rem 0rem;
    background: url(../img/1.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    
}
.section-intersection--2{

    @include respond(phone){
        background-attachment: scroll;
        }
    padding: 25rem 0rem;
    background:  url(../img/intersect.jpeg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    
}
.section-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 9rem;
    color: var(--color-white);

    @include respond(phone){
        padding: 9rem  0rem;
    }
}
.footer{
    
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(phone){
        padding: 0rem;
    }
}