.menu{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

 

    @include respond(phone){
        padding:0rem;
    }

    &__item{
        
        flex: 0 0 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        position: relative;

        @include respond(tab-port){
            flex-direction: column;
            flex: 0 0 100%;
        }

        &--1{

            background: linear-gradient(to bottom,rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.377)),
                        url(../img/portada1.jpg);
            background-position: center;
             background-size: cover;

    
        }
        &--2{
            
            background: linear-gradient(to bottom,rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.377)),
                        url(../img/menu-sushi.jpg);
            background-position: center;
             background-size: cover;
             
        }
        // &--3{
            
        //     background: linear-gradient(to bottom,rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.377)),
        //                 url(../img/portada1.jpg);
        //     background-position: center;
        //      background-size: cover;
        // }
        // &--4{
            
        //     background: linear-gradient(to bottom,rgba(0, 0, 0, 0.411),rgba(0, 0, 0, 0.377)),
        //                 url(../img/menu-postre.jpg);
        //     background-position: center;
        //      background-size: cover;
        // }

        &:hover .menu__text{
            top: 50%;
        }
        &:hover{
           filter: grayscale(1);
        }
    
       
    }
    &__text{
        font-size: 4rem;
        text-align: center;
        transition: all .2s;
            position: absolute;
            top: 100%;

         @include respond(phone){
            width: min-content;
         }
    }
    @include respond(tab-port){
        padding: 0;
    }

}

@keyframes backg{

    0%{}
    100%{}
}